<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>List Cards</title>

        <link rel="stylesheet" type="text/css" href="../lib/Semantic-UI-CSS-master/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="css/custom.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/animation-custom.js"></script> 
        <script src="js/listCard.js"></script> 
    </head>

    <body>
        <div class="ui pointing menu">
            <a class="item" href="./addCard.html">Add Cart</a>
            <a class="item active" href="./listCard.html">Cards List</a>
        </div>
        <div class="ui one column grid">
            <div class="column">
                <div class="ui special cards" id="gridContainer">
                    <template id="selectedCard">
                        <div class="card">
                            <div class="image imageCard">
                                <div class="blurring dimmable image">
                                    <div class="ui inverted dimmer">
                                        <div class="content">
                                            <div class="center">
                                                <div class="ui primary button">Add Friend</div>
                                            </div>
                                        </div>
                                    </div>
                                    <img id="cardImgId" class="ui centered tiny image" src="{{imgUrl}}">
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui form tiny">
                                    <div class="field">
                                        <label id="cardNameId">{{name}}</label>
                                        <textarea id="cardDescriptionId" class="overflowHiden" readonly="" rows="5">{{description}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <i class="heart outline icon"></i><span id="cardHPId">{{hp}}</span> 
                                <div class="right floated ">
                                    <i class="lightning outline icon"></i>
                                    <span id="cardEnergyId">{{energy}}</span> 
                                </div>
                            </div>
                            <div class="content">
                                <span class="right floated">
                                    <i class=" wizard icon"></i>
                                    <span id="cardAttackId">{{attack}}</span> 
                                </span>
                                <i class="protect icon"></i>
                            <span id="cardDefenceId">{{defense}} </span> 
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </body>

</html>